html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(67, 67, 68);
    font-size: 12px;
    font-family: "Microsoft YaHei", sans-serif;
    overflow: hidden;
}

body {
    padding-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body:hover {
    padding-right: 0;
    overflow: auto;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

header {
    height: 80px;
    border-bottom: 1px solid #ddd;
}

.logo {
    float: left;
    width: 64px;
    height: 64px;
}

.header-right {
    margin-left: 80px;
}

.title {
    font-size: 1.6rem;
}

.mask {
  font-size: 24px;
  color: #777;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, .8);
  transition: top 618ms, bottom 618ms;
}

.content-loaded .mask {
  top: -100%;
  bottom: 100%;
}

#metas {
    font-size: 12px;
    padding-left: 60px;
    display: none;
}

#metas.loaded {
  display: inline-block;
}

#metas .loaded {
  display: none;
}

#metas.loaded .loaded {
  display: inline;
}

#metas.loaded .pending {
  display: none;
}

.zh .mask:before {
  content: '正在加载内容...';
}
.zh .latest-text:before {
  content: '最新版本:';
}
.zh .release-text:before {
  content: '发布于';
}
.zh .pending:before {
  content: '加载中...';
}
.en .mask:before {
  content: 'Loading content...';
}
.en .latest-text:before {
  content: 'Latest: ';
}
.en .release-text:before {
  content: ' released at ';
}
.en .pending:before {
  content: 'Loading...';
}