.markdown a:link,
.markdown a:visited {
    color: #1d7bb9;
    text-decoration: none;
}

.markdown a:hover {
    color: #f77b08;
}

.markdown blockquote {
    background-color: rgb(243, 243, 243);
    color: #666;
    margin: 5px 0;
    padding: 5px;
    border-left: 2px solid #66a8d3;
}

.markdown table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    color: #444;
}

.markdown table thead {
    background: #f5f4f4;
}

.markdown table thead th {
    font-weight: normal;
}

.markdown td, .markdown th {
    border: 1px solid #d8d6d6;
    padding: 5px 2px;
    line-height: 24px;
}